<!-- <p>footer works!</p> -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
    integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

  <title>Footer</title>
</head>

<body>



  <footer class="footer">
    <div class="row">
        <div class="col-md-3" style="text-decoration: none;">
  <span style="font-size:25px;">   
  TES<span style="color: #ff9800;font-size:25px;">TY</span>ANTRA    
   </span>
        </div>
      <div class="col-md-3">
      
        <div class="social">
          <a href="">
            <i class="fab fa-facebook-f"></i></a>
          <a href=""><i class="fab fa-linkedin-in"></i></a>
          <a href=""><i class="fab fa-instagram"></i></a>

        </div>
      </div>
      
      <div class="col-md-3 text">
        <div>© 2019 Test Yantra Software Solutions</div>
        
      </div>
      <div class="col text" style="top: 25px;">
        <div class="float-left"> contactus@testyantra.com</div>
        <div class="float-left"> +91 (080) 4120-4235</div>
      </div>
    </div>
    
  </footer>
</body>

</html>