<!--                                                                                                                                                         -->
<!------ Include the above in your HEAD tag ---------->
<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>




 <div class="wrapper">
        <table id="acrylic">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Weight (kg)</th>
                    <th>Profession</th>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Weight (kg)</th>
                    <th>Profession</th>
                   
                </tr>
            </thead>
            <tbody>
                <tr style="cursor: pointer;">
                    <td>Carolina Biggleswade</td>
                    <td>23</td>
                    <td>65</td>
                    <td>Jockey</td>
                    <td>Carolina Biggleswade</td>
                    <td>23</td>
                    <td>65</td>
                    <td>Jockey</td>
                </tr>
                <tr>
                    <td>Harry Sparrowhead</td>
                    <td>34</td>
                    <td>89</td>
                    <td>Trainer</td>
                    <td>Harry Sparrowhead</td>
                    <td>34</td>
                    <td>89</td>
                    <td>Trainer</td>
                </tr>
                <tr>
                    <td>Marjorie Doors</td>
                    <td>32</td>
                    <td>76</td>
                    <td>Yard Manager</td>
                    <td>Marjorie Doors</td>
                    <td>32</td>
                    <td>76</td>
                    <td>Yard Manager</td>
                </tr>
                <tr>
                    <td>Earnest Piggington-Smithe</td>
                    <td>18</td>
                    <td>98</td>
                    <td>Groom</td>
                    <td>Earnest Piggington-Smithe</td>
                    <td>18</td>
                    <td>98</td>
                    <td>Groom</td>
                </tr>
                <tr>
                    <td>Earnest Piggington-Smithe</td>
                    <td>18</td>
                    <td>98</td>
                    <td>Groom</td>
                    <td>Earnest Piggington-Smithe</td>
                    <td>18</td>
                    <td>98</td>
                    <td>Groom</td>
                </tr>
                <tr>
                    <td>Earnest Piggington-Smithe</td>
                    <td>18</td>
                    <td>98</td>
                    <td>Groom</td> <td>Earnest Piggington-Smithe</td>
                    <td>18</td>
                    <td>98</td>
                    <td>Groom</td>

                </tr>
                <tr>
                    <td>Earnest Piggington-Smithe</td>
                    <td>18</td>
                    <td>98</td>

                    <td>Groom</td>
                    <td>Earnest Piggington-Smithe</td>
                    <td>18</td>
                    <td>98</td>
                    <td>Groom</td>
                </tr>
            </tbody>
        </table>
    </div>